.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menu-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 5vw;
  /* border: 1px solid blue; */
}

.menu-navbar * {
  display: block;
}

span.edit {
  padding: 1px;
  margin-left: 15px;
  color: #3d61ab;
  border-bottom: 1px solid #3a7bff;
  cursor: pointer;
}