$friend-height: 80px;
$img-size: 55px;
$text-input: 80px;
.chat {
    .row {
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }
    .conversations-list {
        border-radius: 10px 0 0 10px;
        background-color: rgb(250, 252, 255);
        border-right: 1px solid rgba(0, 98, 211, 0.5);
        padding: 0px;
        overflow: auto;
        &>div {
            cursor: pointer;
            height: $friend-height;
            border-bottom: 1px solid rgba(0, 98, 211, 0.15);
            display: flex;
            &:hover {
                box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
            }
            .img-container {
                padding: 0 10px;
                display: inline-block;
                img {
                    margin-top: calc((#{$friend-height} - #{$img-size}) / 2);
                    height: $img-size;
                    border: 1px solid rgba(0, 0, 0, 0.25);
                    border-radius: 50%;
                    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
                }
            }
            .text-container {
                padding: 10px 13px;
                overflow: hidden;
                span:first-of-type {
                    font-weight: 500;
                    font-size: 23px;
                    display: inline;
                }
                span:last-of-type {
                    display: block;
                    font-size: 15px;
                }
            }
        }
    }
    .conversation {
        padding: 0;
        display: flex;
        &>div {
            width: 100%;
        }
        .first-conversation {
            width: 90%;
            margin: auto;
            text-align: center;
            font-family: "Roboto";
            font-size: 40px;
            font-weight: 100;
            span {
                animation: 0.5s ease-out 0s 1 zoom-in;
            }
        }
        .text-input {
            text-align: left;
            font-size: 15px;
            border-top: 1px solid rgba(0, 98, 211, 0.3);
            bottom: 0;
            left: 0;
            height: $text-input;
            overflow: hidden;
            position: absolute;
            width: 100%;
            display: flex;
            z-index: 1;
            textarea {
                border: none;
                border-right: 1px solid rgba(0, 98, 211, 0.3);
                border-left: 1px solid rgba(0, 98, 211, 0.3);
                resize: none;
                width: 90%;
                height: 100%;
            }
            .form-buttons {
				min-width: 150px;
				display: flex;
                button.send {
                    height: 50%;
                    margin: auto;
                }
                .emojis {
                    margin: auto;
                    .overlay {
						position: fixed;
						.emoji-mart-emoji > span {
							cursor: pointer;
						}
                    }
                    .emoji-mart-preview {
                        height: 50px;
                    }
                    div.button {
                        cursor: pointer;
                    }
                }
            }
        }
        .messages {
            width: 100%;
            padding: 10px 0;
            height: calc(100% - #{$text-input});
            overflow: auto;
            .message {
                width: 98%;
                margin: 5px auto;
                p {
                    font-size: 17px;
                    margin: 0;
                    white-space: pre-wrap;
                    display: inline-block;
                    padding: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    background-color: whitesmoke;
                    text-align: left;
                    max-width: 50%;
                    word-break: break-all;
                }
                &.me {
                    text-align: right;
                    p {
                        background-color: #4387e4;
                        color: white;
                    }
                }
            }
        }
    }
}

@keyframes zoom-in {
    from {
        transform: scale(0.2);
    }
    to {
        transform: scale(1);
    }
}