.col {
  text-align: center; }

.card-title {
  font-size: 2rem; }

.card-text {
  text-align: justify; }

.apps-wrapper {
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 0 4vw; }
  .apps-wrapper > .card {
    left: 0px;
    top: 0px;
    border: unset;
    box-shadow: 0px 1.5px 8px 0.5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    box-sizing: border-box;
    display: inline-flex;
    margin: 10px;
    padding: 0 0 20px 0;
    max-height: 13vmax;
    min-height: 240px;
    max-width: 15vmax;
    min-width: 230px;
    z-index: 0;
    overflow: overlay; }
    .apps-wrapper > .card .btn {
      padding: 0.54rem 1.14rem; }
    .apps-wrapper > .card .card-body {
      padding-top: 10px; }
    .apps-wrapper > .card .card-header {
      border-radius: 15px 15px 0 0;
      background-color: rgba(44, 104, 218, 0.61);
      cursor: grab; }
    .apps-wrapper > .card:not(.active) {
      transition: all 0.3s; }
    .apps-wrapper > .card.active {
      z-index: 1;
      box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3); }
      .apps-wrapper > .card.active .card-header {
        background-color: rgba(44, 104, 218, 0.8); }
