@import "https://fonts.googleapis.com/css?family=Lato:400,900i";
.nav-links {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    span {
        font-family: 'Lato';
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 1.5px;
        color: #1b519a;
        margin-right: 8px;
    }
    button {
        margin-left: 10px;
        font-family: 'Lato';
        transition: 0.15s ease-in;
        outline: none;
        background-color: unset;
        border: 1px solid #0069d9;
        border-radius: 4px;
        color: #1b519a;
        font-size: 20px;
        cursor: pointer;
        padding: 8px 15px;
        box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.1);
        &:hover {
            color: #fff;
            background-color: #0069d9;
            border-color: #0062cc;
        }
    }
}

.auth {
    .register {
        padding: 0px 15px 2px 15px;
        color: #fff;
        background-color: #0069d9;
        text-transform: uppercase;
        box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.6);
        &:hover {
            box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.3);
        }
    }
    .login {
        color: #0069d9 !important;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            color: #1b519a;
        }
    }
}

.fa-home {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    margin: 10px;
    font-size: 45px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
}