.card-title {
    font-size: 2rem;
  }
  
  .card-text {
    text-align: justify;
  }
  
  .wrapper {
    margin: 0 auto;
    padding: 50px;
    /* width: 100%; */
    text-align: center;
  }
  
  .wrapper > div {
    box-sizing: border-box;
    display: inline-flex;
    margin: 10px;
    padding: 20px;
    height: 250px;
    width: 280px;
  }