.portfolio {
    height: 100%;
    position: absolute;
    .row {
        height: 100%;
        div[layout="profile"] {
            box-shadow: 2px 0px 10px 2.5px rgba(0, 0, 0, 0.3);
            background-color: rgb(67, 114, 210);
            text-align: center;
            overflow: auto;
			display: flex;
			flex-direction: column;
            justify-content: center;
            align-items: center;
			overflow-x: hidden;
            img[alt="profile"] {
                border-radius: 50%;
                width: 150px;
                box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.4);
                margin-bottom: 30px;
            }
            div.link {
                margin: 10px;
                position: relative;
                img {
                    cursor: pointer;
                    width: 50px;
                    transition: 0.35s all ease-in;
                }
                &>a,
                &>span {
                    color: white;
                    position: absolute;
                    margin: 12px 10px 0px 10px;
                    opacity: 0;
                    padding: 3px 8px;
                    border-radius: 10px;
                    border: 1px solid rgb(28, 68, 150);
                    background-color: rgb(32, 68, 139);
                    transition: 0.5s all ease-in;
                    white-space: nowrap;
                }
            }
        }
    }
}