.alerts {
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: -1;
    height: 80px;
    div {
        margin-top: 28px;
        span {
            animation: slide-up 3s ease;
            font-family: 'Lato';
            color: white;
            letter-spacing: 1.7px;
            border-radius: 5px;
            padding: 15px;
            background-color: rgb(179, 24, 24);
        }
    }
}