.connect {
    margin: auto;
    text-align: center;
    min-width: 200px;
    .md-form {
        .prefix {
            left: 0;
        }
    }
    button {
        width: 80%;
        padding: 8px 6px;
        letter-spacing: 2px;
        font-size: 20px;
    }
    a {
        display: inline-block;
        margin-top: 5px;
    }
    .form-control[status="error"] {
        border-color: #f44242;
    }
    .form-control[status="correct"] {
        border-color: #42f48c;
    }
    .md-form input:focus {
        box-shadow: unset !important;
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    20%,
    80% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}