.connect {
	margin: auto;
	text-align: center;
	min-width: 200px;
	.md-form {
		.prefix {
			left: 0;
		}
	}
	button {
		width: 80%;
		padding: 8px 6px;
		letter-spacing: 2px;
		font-size: 20px;
	}
	a {
		display: inline-block;
		margin-top: 5px;
	}
	.form-control {
		outline: 0;
		&[status="error"] {
			border-color: #ff8080;
			box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
		}
		&[status="correct"] {
			border-color: #51cf8a;
			box-shadow: 0 0 0 0.2rem rgba(62, 207, 81, 0.25);
		}
	}
}

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(-30px);
	}
	20%,
	80% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-30px);
	}
}
