.portfolio {
    .media {
        padding: 0;
        img {
            width: 100vw;
            min-height: 100vh;
            max-height: 100vh;
            position: relative;
            overflow: hidden;
            object-fit: cover;
        }
    }
    #i-am {
        position: absolute;
        top: 42%;
        left: 8%;
        color: whitesmoke;
        font-weight: 1000;
        font-size: 3em;
    }
    .write-auto {
        position: absolute;
        top: 30vmin;
        left: 8%;
        max-width: 40vw;
        // color: #2460da;
        color: white;
        font-weight: 1000;
        font-size: 3.5em;
        &::after {
            color: black;
        }
    }
}
