.portfolio {
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(0deg, #020024 0%, #08618b 100%);
  background-position-y: 70vh;
  #custom-navbar {
    .logo {
      font-weight: bold;
      font-size: 2.5em;
      letter-spacing: 0px;
      color: #529ac0;
      a {
        text-decoration: none;
      }
      margin: 0 2rem;
    }
    &.bg-dark {
      box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.35);
      // .navbar-nav a {
      // color: black;
      // }
    }
    &.fadein-navbar {
      flex-flow: nowrap;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      height: 60px;
      background-color: transparent;
      text-transform: uppercase;
      font-size: 0.8em;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    .navbar-collapse {
      justify-content: flex-end;
      margin-right: 6%;
      &.show,
      &.collapsing {
        position: absolute;
        margin-right: 0;
        right: 0;
        top: 100%;
        background-color: #343a40;
        padding: 2vh 3.5vw 0.5vh 2vw;
        .navbar-nav {
          width: auto;
          text-align: right;
          margin-bottom: 2vh;
          display: block;
          a {
            width: fit-content;
          }
        }
      }
      a {
        margin: 0 1vw;
        width: max-content;
        color: whitesmoke;
        transition: 0.25s;
        &:hover {
          text-decoration: none;
          transform: scale(1.25) translateY(0.25px);
          // font-weight: bold;
        }
      }
    }
    .toggler-custom {
      border: none;
    }
    .navbar-toggler {
      border: none;
      outline: none;
    }
  }
}
