.portfolio {
  .projects {
    min-height: 100vh;
    a {
      text-decoration: none;
      color: inherit;
    }
    .card {
      border: none;
      transition: 0.25s;
      cursor: pointer;
      margin-bottom: 1rem;
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 12px rgba(200, 200, 200, 0.5);
      }
      .card-header {
        font-size: 1rem;
        padding: 0.75rem 0.75rem;
        .card-title {
          text-shadow: 0.5px 1px 1px #343a40;
          color: #062f50;
        }
        .images {
          display: flex;
          justify-content: space-around;
          img {
            width: 28%;
          }
        }
        img {
          margin-bottom: 0.75rem;
        }
      }
      .card-body {
        justify-content: space-around;
        display: flex;
        padding: 1rem;
        svg {
          margin-bottom: 0.3rem;
          margin-right: 5px;
          font-size: 1.2rem;
        }
      }
      .card-footer {
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.8rem;
        svg.php {
          transform: scale(1.5);
        }
        img {
          width: 1.8rem;
          &.firebase {
            filter: grayscale(1) brightness(0.5);
            height: 2.1rem;
            width: 2.1rem;
          }
        }
      }
    }
  }
}
